### Volume Bars 

Construir volume bars a partir de las time bars (1 min) cada volume bar debe abrupar filas sucesivas hasta que la suma de volume alcance o supere un umbral V_threshold.

Resultados esperados: 
- Data frame con filas por volume bar con columnas 
- Comparativa (número de barras por día, distribución de retornos, test de normalidad/autocorrelación) 
- Guardar el resultado en data/processed/volume_bars_<Vthreshold>.csv

In [9]:
# imports 
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import datetime as dt

In [10]:
# load data from /data/processed
data = pd.read_csv('../data/processed/BTCUSDT_1m_2024-12-01_to_2025-01-01_cleaned_robust.csv')
data.head()

,open_time,open,high,low,close,volume,close_time,quote_volume,trades,taker_buy_base,taker_buy_quote,ignore,mid_price,return
0,2024-12-01 05:01:00,96473.19,96473.19,96464.16,96464.97,2.51941,2024-12-01 05:01:59.999,2.430386e+05,1044.0,0.82286,79377.044051,0.0,96468.675,-0.000085
1,2024-12-01 05:02:00,96464.97,96509.99,96425.70,96509.99,40.57111,2024-12-01 05:02:59.999,3.913119e+06,4030.0,9.65762,931709.380920,0.0,96467.845,0.000467
2,2024-12-01 05:03:00,96509.99,96510.00,96476.00,96480.00,6.33996,2024-12-01 05:03:59.999,6.118070e+05,2520.0,0.81025,78177.723577,0.0,96493.000,-0.000311
3,2024-12-01 05:04:00,96480.01,96480.01,96472.00,96472.00,2.02027,2024-12-01 05:04:59.999,1.949119e+05,603.0,0.10671,10295.342507,0.0,96476.005,-0.000083
4,2024-12-01 05:05:00,96472.00,96472.01,96415.65,96420.02,8.16665,2024-12-01 05:05:59.999,7.875664e+05,2192.0,0.70645,68130.564183,0.0,96443.830,-0.000539

In [11]:
# first and last row
data.iloc[0], data.iloc[-1]

# fast statistics
data.describe()
data.info()
data.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43138 entries, 0 to 43137
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   open_time        43138 non-null  object
 1   open             43138 non-null  float64
 2   high             43138 non-null  float64
 3   low              43138 non-null  float64
 4   close            43138 non-null  float64
 5   volume           43138 non-null  float64
 6   close_time       43138 non-null  object
 7   quote_volume     43138 non-null  float64
 8   trades           43138 non-null  float64
 9   taker_buy_base   43138 non-null  float64
 10  taker_buy_quote  43138 non-null  float64
 11  ignore           43138 non-null  float64
 12  mid_price        43138 non-null  float64
 13  return           43138 non-null  float64
dtypes: float64(12), object(2)
memory usage: 4.6+ MB

open_time          0
open               0
high               0
low                0
close              0
volume             0
close_time         0
quote_volume       0
trades             0
taker_buy_base     0
taker_buy_quote    0
ignore             0
mid_price          0
return             0
dtype: int64

In [ ]:
# decide V_thereshold